<body style="background-image: url('<%= asset_path("background.jpg") %>'); background-size: cover; background-position: center; background-repeat: no-repeat; background-attachment: fixed; height: 100%; margin: 0;">
  <div class="container"> 
    <p style="color: green"><%= notice %></p>

    <%= render @movie %>

    <div class = "link">
      <%= link_to "Edit this movie", edit_movie_path(@movie) %> |
      <%= link_to "Back to movies", movies_path %>

      <%= button_to "Destroy this movie", @movie, method: :delete %>
    </div>
  </div>
</body>